<div class="card shaddow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <!-- <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
            <div class="alert alert-danger mt-3" *ngIf="isEmailError">Email Already Exists</div>
            <div class="alert alert-info mt-3" *ngIf="isSubscribed">
                Thanks for subscribing to our newsletter.Stay tuned for awesome posts..:)
            </div>
            <form #subForm=ngForm class="form-inline mb-5 mt-5" (ngSubmit)="onSubmit(subForm)" *ngIf="!isSubscribed">
                <div class="form-group col-lg-5 col-md-4">
                    <input type="text" class="form-control shaddow-effect" placeholder="Your Name" name="name"
                        #Name="ngModel" ngModel required [ngClass]="{'is-invalid':Name.touched && Name.invalid}">
                    <div class="text-danger" *ngIf="Name.touched && Name.invalid">
                        <div *ngIf="Name.errors?.['required']">Name is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-5 col-md-4">
                    <input type="email" class="form-control shaddow-effect" placeholder="Email Address" name="email"
                        ngModel #Email="ngModel" required email
                        [ngClass]="{'is-invalid':Email.touched && Email.invalid}">
                    <div class="text-danger" *ngIf="Email.touched && Email.invalid">
                        <div *ngIf="Email.errors?.['required']">Email is required</div>
                        <div *ngIf="Email.errors?.['email']">Please Enter a valid Email</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <button type="submit" class="btn btn-info btn-block btn-theme"
                        [disabled]="subForm.invalid">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>