<nav class="navbar navbar-expand-md fixed-top">
    <div class="container ">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav" *ngFor="let category of categoryList | async">
                <li class="nav-item "><a [routerLink]="['/category',category.category,category.id]" class="nav-link">{{category.category}}</a></li>
            </ul>
        </div>  
    </div>
</nav>
<nav class="navigation" >
    <div class=" text-right text-theme-primary mr-2" ><i class="fa-solid fa-bars fa-2x " (click)="toggleMenu()"></i></div>
    <div *ngIf="toggle"  class="listHolder">
        <ul  class="unordered" *ngFor="let category of categoryList | async">
            <li class="listitems" (click)="toggleMenu()"><a [routerLink]="['/category',category.category,category.id]">{{category.category}}</a></li>
        </ul>
    </div>
</nav>

