<div class="card mb-5 mt-5 pb-5 shaddow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments (69)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger"> Last Updated - 21 Days ago</small>
            <div class="mb-3 mt-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi id reiciendis suscipit deserunt 
            </div>
            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger"> Last Updated - 21 Days ago</small>
            <div class="mb-3 mt-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi id reiciendis suscipit deserunt 
            </div>
            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger"> Last Updated - 21 Days ago</small>
            <div class="mb-3 mt-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi id reiciendis suscipit deserunt 
            </div>
            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>
            <hr>
        </div>
    </div>
</div>