<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center my-1 my-md-3 my-lg-5">
                <h2 class="text-white">Featured Post</h2>
                <!-- <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit!</p> -->
            </div>
        </div>
        <div class="row text-center " >
             <div class="col-lg-3 col-md-6 mb-3" *ngFor="let post of featuredPosts | async">
                <app-post-card [postData] ='post' ></app-post-card>
             </div>
        </div>
    </div>
</section>

<section class=" mt-5 latest-section">
    <div class="container ">
        <div class="row">     
            <div class="col-md-12 text-center my-1 my-md-3 my-lg-5">
                <h2>Latest Post</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p> -->
            </div>
        </div>
        <div class="row center">
            <div class="col-md-4 mt-3 " *ngFor="let post of latestPosts | async">
                <app-post-card [postData]="post"></app-post-card>
            </div>
        </div>
    </div>
</section>