<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <h1 class="text-center">Welcome to Past Echos!</h1>
            <br>
            <h6>Greetings! I'm Salil Das, and I'm thrilled to welcome you to Past Echos, a digital sanctuary where echoes of the past come to life. This blog is a passion project born out of my love for exploring ancient temples, sharing my travel adventures, diving into the world of anime, and delving into the intriguing realm of geopolitics.</h6>
            <br>
            <br>
            
            <h3>Discovering Ancient Temples:</h3>
            Embark on a journey through time as we unravel the mysteries concealed within the walls of ancient temples. From architectural marvels to spiritual significance, each temple tells a unique tale, connecting us to the rich tapestry of history.
            <br>
            <br>
            
            <h3>Chronicles of My Travels:</h3>
            Join me in traversing the globe, one destination at a time. Through vivid storytelling and captivating visuals, I aim to transport you to the enchanting landscapes, diverse cultures, and hidden gems that I've been fortunate enough to encounter during my travels.
            <br>
            <br>
            
            <h3>Anime Adventures:</h3>
            Immerse yourself in the vibrant world of anime – a universe where creativity knows no bounds. Whether you're a seasoned otaku or a newcomer to the anime scene, you'll find reviews, recommendations, and insights that celebrate the magic of this captivating art form.
            <br>
            <br>
            
            <h3>Navigating Geopolitical Terrain:</h3>
            Beyond the realms of culture and entertainment, Past Echos also explores the geopolitical landscape. Engage in thought-provoking discussions about global affairs, geopolitical events, and the ever-evolving dynamics that shape our world.
            <br>
            <br>
            
            <h6>Join me on this exhilarating journey through Past Echos, where the echoes of the past resonate in the present. Let's embark on a collective exploration of history, culture, and the diverse facets of our world.</h6>
            <br>
            
            <h6>Thank you for being a part of this adventure!</h6>
            <br>
            Warm regards,
            <h6>Salil Das</h6>
            
            
            <div class="text-center ">
                <button class="btn btn-sm btn-info mt-4 btn-theme" [routerLink]="['/']">Back To Home</button>
            </div>
        </div>
    </div>
</section>
