<div class="container" *ngIf="postDetails">
    <div class="row">
        <div class="col-md-9">
            <div class="card shaddow-effect">
                <img src='{{postDetails.postImgPath}}' alt="" class="card-img-top img-fluid" >
                <div class="card-body">
                    <small class="bg-light text-danger text-center">{{postDetails.category.category}}</small>
                    <small class="bg-light text-success text-center ml-2" *ngIf="postDetails.isFeatured">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - {{postDetails.views}}</small>
                    <small class="bg-light text-warning text-center ml-2">Last Updated {{postDetails.createdAt.toDate() | date}}</small>

                    <h1 class="mt-3 mb-3">{{postDetails.title}}</h1>
                    <p [innerHTML]="postDetails.content"></p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comments-list></app-comments-list>
        </div>
        <div class="col-md-3">
            <div *ngFor="let post of samePostArray ">
                <app-post-card [postData]="post"></app-post-card>
            </div>
        </div>
    </div>
</div>
