<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">Past Echos</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a [routerLink]="['/']" class="nav-link"> Home </a></li>
                        <li class="nav-item"><a [routerLink]="['/about']" class="nav-link"> About </a></li>
                        <!-- <li class="nav-item"><a [routerLink]="['/terms-conditions']" class="nav-link">Terms & Conditions </a></li> -->
                        <!-- <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link"> Contact </a></li> -->
                    </ul>
                </div>
                <div class="nav justify-content-center">
                    <li class="nav-item">
                        <a href="http://instagram.com/salilthegreat" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-square-instagram text-theme-primary fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://facebook.com/salilkumar.das.77" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook text-theme-primary ml-3 fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="http://youtube.com/SalilDas22" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-youtube text-theme-primary ml-3 fa-lg"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="mailto:salilkumardas22@gmail.com"   rel="noopener noreferrer">
                <i class="fa-solid fa-envelope text-theme-primary ml-3 fa-lg"></i>
        </a>
    </li>
                </div>
                <p class="mb-2 mt-2">Copyright &copy; 2024 Past Echos</p>
            </div>
        </div>
    </div>
</footer>
