<div class="card shaddow-effect" *ngIf="postData">
    <img [src]="postData.postImgPath">
    <div class="card-body">
        <small class="bg-light text-danger text-center d-block">{{postData.category.category}}</small>
        <div class="d-flex  justify-content-around">         
            <small class="bg-light text-success text-center ">Featured</small>
            <small class="bg-light text-info text-center ">Views - {{postData.views}}</small>
        </div>
        <h5 class="mt-1">{{postData.title | maxLength : 40}}</h5>
        <p>{{postData.excerpt | maxLength : 80}}</p>
        <small class="bg-light text-warning text-center "> Last Updated - {{postData.createdAt.toDate() | date}}</small>
    </div>
</div>
