<div class="card shaddow-effect">
    <img src="https://images.pexels.com/photos/6813050/pexels-photo-6813050.jpeg?auto=compress&cs=tinysrgb&w=800" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 169</small>
        <h5 class="mt-1">How The Wonders Of India Are Still Standing</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus aut, numquam ullam blanditiis deleniti doloremque veritatis officiis animi repellat tempore autem expedita!</p>
        <small class="bg-light text-warning text-center "> Last Updated - 21st December 2023</small>
    </div>
</div>
